* {
  box-sizing: border-box;
}

img{
  background-size: cover;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 35px;
}

body{
  background-image: url('../images/intro-screen.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Marvel, sans;
}

.grid-wrapper{
  height: 40%;
  min-width: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
}

.computer-grid div:hover{
  background-color: rgb(30, 254, 0);
  cursor: crosshair;

}

.player-grid, .computer-grid{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  justify-content: center;
  align-content: center;
  background-color: rgb(47, 216, 188);
  opacity: 0.7;
  /* color: transparent; */

}

.player-grid div, .computer-grid div{
  width: 10%;
  height: 10%;
  border: 1px solid rgba(0,0,0,0.2);
}

/* this should separate into 2, scoreboard and buttons */
.player-score{
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 10px;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.9);
}

h4{
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

ul{
  list-style-type: none;
  padding: 0
}

#ship-placement{
  display: flex;
  border: 1px solid black;
  height: 60px;
  margin: 0 40px;
  align-items: center;
}

button{
  margin: 0 40px;
  cursor: pointer;
}

.position-buttons{
  height: 70px;
  width: 60%;
  margin: 10px auto;
}

.ship-in-position{
  background-color: purple;
}

.ship{
  background-color: rgb(184, 148, 231);
}

.button-disappear{
  display: none;
}

#rotate-btn{
  background-color: rgb(221, 128, 250);
}

#set-position-btn{
  background-color: rgb(34, 225, 60);
}

#reset-btn{
  background-color: rgb(243, 99, 99);
}

#start-button{
  background-color: red;
  height: 70px;
  width: 60%;
  margin: 10px auto;
}

.ship-btn{
  height: 100%;
}

.shot-hit{
  background-color: red;
}

.shot-missed{
  background-color: grey;
}