* {
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 35px;
}

body{
  background-image: url('../images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Marvel, sans;
}

.intro{
  background-image: url('../images/introscreen.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  padding: 100px;
  top: 0;
  left: 0;
}

.grid-wrapper{
  height: 40%;
  min-width: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
}

.computer-grid div:hover{
  background-color: rgb(93, 254, 0);
  cursor: crosshair;
}

.player-grid, .computer-grid{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  justify-content: center;
  align-content: center;
  background-color: rgb(47, 216, 188);
  opacity: 0.7;
  /* color: transparent; */

}

.player-grid div, .computer-grid div{
  width: 10%;
  height: 10%;
  border: 1px solid rgba(0,0,0,0.2);
}

/* this should separate into 2, scoreboard and buttons */
.player-score{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  background-color: rgba(255,255,255,0.9);
}

h4{
  margin: 10px 0 0 5px;
  font-size: 20px;
  font-weight: bold;
}

ul{
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

#ship-placement{
  display: flex;
  height: 60px;
  margin: 0 40px;
  align-items: center;
}

button{
  margin: 0 40px;
  cursor: pointer;
}

.position-buttons{
  height: 70px;
  width: 60%;
  margin: 10px auto;
  border: none;
  border-radius: 25px;;
}

.ship-in-position{
  background-color: purple;
}

.ship{
  background-color: rgb(184, 148, 231);
}

.button-disappear{
  display: none;
}

#game-instructions{
  margin: 0;
}

#rotate-btn{
  background-color: rgb(255 90 90);
}

#set-position-btn{
  background-color: rgb(237 245 86);
}

/* #reset-btn{
  background-color: rgb(243, 99, 99);
} */

#start-button{
  background-color: rgb(137 231 125);
  height: 70px;
  width: 60%;
  margin: 10px auto;
  border: none;
  border-radius: 25px;;
}

.ship-btn{
  height: 100%;
}

.shot-hit{
  background-color: red;
}

.shot-missed{
  background-color: grey;
}