* {
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
}

body{
  height: 100vh;
  margin: 0;

}

.grid-wrapper{
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.player-grid{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  justify-content: center;
  align-content: center;
  background-color: #A4EBF3;
}

.computer-grid{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  justify-content: center;
  align-content: center;
  background-color: #A4EBF3;
}

.player-grid div, .computer-grid div{
  width: 10%;
  height: 10%;
  border: 1px solid rgba(0,0,0,0.2);
}

.player-score{
  width: 185px;
  margin: 10px;
}

ul{
  list-style-type: none;
  padding: 0
}

.ship-placement{
  display: flex;
  border: 1px solid black;
  margin: 0 40px;
}

button{
  margin: 0 40px;
}

#rotate-btn{
  height: 30px;
}

.ship{
  background-color: red;
}